PORT=
DATABASE_URL=
# La ruta al archivo con las credenciales del servicio de Firebase (hay que descargar este archivo desde la consola de Firebase y guardarlo en el proyecto):
SERVICE_ACCOUNT=
BACKEND_URL=